<!-- Preloader -->
<div class='preloader'>
  <div class='preloader-inner'>
    <div class='preloader-icon'>
      <span></span>
      <span></span>
    </div>
  </div>
</div>
<!-- /End Preloader -->

<!-- Start Header Area -->
<header class='header navbar-area'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-lg-12'>
        <div class='nav-inner'>
          <!-- Start Navbar -->
          <nav class='navbar navbar-expand-lg'>
            <a class='navbar-brand' href='/home'>
              <img src='public/images/logo/white-logo.svg' alt='Logo' />
            </a>
            <button
              class='navbar-toggler mobile-menu-btn'
              type='button'
              data-bs-toggle='collapse'
              data-bs-target='#navbarSupportedContent'
              aria-controls='navbarSupportedContent'
              aria-expanded='false'
              aria-label='Toggle navigation'
            >
              <span class='toggler-icon'></span>
              <span class='toggler-icon'></span>
              <span class='toggler-icon'></span>
            </button>
            <div
              class='collapse navbar-collapse sub-menu-bar'
              id='navbarSupportedContent'
            >
              <ul id='nav' class='navbar-nav ms-auto'>
                <li class='nav-item'>
                  <a
                    href='#home'
                    class='page-scroll active'
                    aria-label='Toggle navigation'
                  >Home</a>
                </li>
                <li class='nav-item'>
                  <a
                    href='#features'
                    class='page-scroll'
                    aria-label='Toggle navigation'
                  >Features</a>
                </li>

                <li class='nav-item'>
                  <a href='#team' aria-label='Toggle navigation'>Team</a>
                </li>
              </ul>
            </div>
            <!-- navbar collapse -->
            <div class='button add-list-button'>
              <a href='#' class='btn'>Get it now</a>
            </div>
          </nav>
          <!-- End Navbar -->
        </div>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</header>
<!-- End Header Area -->

<!-- Start Hero Area -->
<section id='home' class='hero-area'>
  <div class='container'>
    <div class='row align-items-center'>
      <div class='col-lg-5 col-md-12 col-12'>
        <div class='hero-content'>
          <h1 class='wow fadeInLeft' data-wow-delay='.4s'>A powerful app for
            your business.</h1>
          <p class='wow fadeInLeft' data-wow-delay='.6s'>A product from team 11</p>
          <div class='button wow fadeInLeft' data-wow-delay='.8s'>
            <a href='https://www.apple.com/store' class='btn'><i
                class='lni lni-apple'
              ></i>
              App Store</a>
            <a href='https://play.google.com/' class='btn btn-alt'><i
                class='lni lni-play-store'
              ></i>
              Google Play</a>
          </div>
        </div>
      </div>
      <div class='col-lg-7 col-md-12 col-12'>
        <div class='hero-image wow fadeInRight' data-wow-delay='.4s'>
          {{! <img src='public/images/hero/phone.png' alt='#' /> }}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Area -->

<!-- Start Features Area -->
<section id='features' class='features section'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='section-title'>
          <h1 class='wow zoomIn' data-wow-delay='.2s'>Features</h1>
          {{! <h2 class='wow fadeInUp' data-wow-delay='.4s'> }}
          {{! </h2> }}
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-4 col-md-6 col-12'>
        <!-- Start Single Feature -->
        <div class='single-feature wow fadeInUp' data-wow-delay='.2s'>
          <i class='lni lni-cloud-upload'></i>
          <h3>3D object rendering</h3>

        </div>
        <!-- End Single Feature -->
      </div>
      <div class='col-lg-4 col-md-6 col-12'>
        <!-- Start Single Feature -->
        <div class='single-feature wow fadeInUp' data-wow-delay='.4s'>
          <i class='lni lni-lock'></i>
          <h3>Interoperability</h3>

        </div>
        <!-- End Single Feature -->
      </div>
      <div class='col-lg-4 col-md-6 col-12'>
        <!-- Start Single Feature -->
        <div class='single-feature wow fadeInUp' data-wow-delay='.6s'>
          <i class='lni lni-reload'></i>
          <h3>Customizability</h3>
        </div>
        <!-- End Single Feature -->
      </div>
      <div class='col-lg-4 col-md-6 col-12'>
        <!-- Start Single Feature -->
        <div class='single-feature wow fadeInUp' data-wow-delay='.2s'>
          <i class='lni lni-shield'></i>
          <h3>Real time calculation</h3>
        </div>
        <!-- End Single Feature -->
      </div>
      <div class='col-lg-4 col-md-6 col-12'>
        <!-- Start Single Feature -->
        <div class='single-feature wow fadeInUp' data-wow-delay='.4s'>
          <i class='lni lni-cog'></i>
          <h3>Integrated audio and video</h3>
        </div>
        <!-- End Single Feature -->
      </div>
      <div class='col-lg-4 col-md-6 col-12'>
        <!-- Start Single Feature -->
        <div class='single-feature wow fadeInUp' data-wow-delay='.6s'>
          <i class='lni lni-layers'></i>
          <h3>VR/AR support</h3>
        </div>
        <!-- End Single Feature -->
      </div>
    </div>
  </div>
</section>
<!-- End Features Area -->

<section id='team' class='team section'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <div class='section-title'>
          <h1
            class='wow zoomIn'
            data-wow-delay='.2s'
            style='visibility: visible; animation-delay: 0.2s; animation-name: zoomIn;'
          >Team</h1>
          <h3
            class='wow fadeInUp'
            data-wow-delay='.4s'
            style='visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;'
          >11</h3>
        </div>
      </div>
    </div>
    <div class='row'>
      <div class='col-lg-4 col-md-6 col-12'>

        <div
          class='single-team wow fadeInUp'
          data-wow-delay='.2s'
          style='visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;'
        >
          <div class='image'>
            <img
              alt='#'
              data-pagespeed-url-hash='4182764257'
              src='public/images/meocute.png'
              onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);'
            />
          </div>
          <div class='content'>
            <div class='row align-items-center'>
              <div class='col-lg-7 col-12'>
                <div class='text'>
                  <h3><a href='javascript:void(0)'>Truong Thi Xuan Tuoi</a></h3>
                  <h5>B19DCPT221</h5>
                </div>
              </div>
              <div class='col-lg-5 col-12'>
                <ul class='social'>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-twitter-original'
                      ></i></a>
                  </li>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-linkedin-original'
                      ></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class='col-lg-4 col-md-6 col-12 custom'>

        <div
          class='single-team wow fadeInUp'
          data-wow-delay='.4s'
          style='visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;'
        >
          <div class='image'>
            <img
              alt='#'
              data-pagespeed-url-hash='182296882'
              src='public/images/meocute.png'
              onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);'
            />
          </div>
          <div class='content'>
            <div class='row align-items-center'>
              <div class='col-lg-7 col-12'>
                <div class='text'>
                  <h3><a href='javascript:void(0)'>Ngo Minh Duc</a></h3>
                  <h5>B19DCPT056</h5>
                </div>
              </div>
              <div class='col-lg-5 col-12'>
                <ul class='social'>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-twitter-original'
                      ></i></a>
                  </li>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-linkedin-original'
                      ></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class='col-lg-4 col-md-6 col-12 custom'>

        <div
          class='single-team wow fadeInUp'
          data-wow-delay='.6s'
          style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;'
        >
          <div class='image'>
            <img
              alt='#'
              data-pagespeed-url-hash='476796803'
              src='public/images/meocute.png'
              onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);'
            />
          </div>
          <div class='content'>
            <div class='row align-items-center'>
              <div class='col-lg-7 col-12'>
                <div class='text'>
                  <h3><a href='javascript:void(0)'>Le Minh Hieu</a></h3>
                  <h5>B19DCPT081</h5>
                </div>
              </div>
              <div class='col-lg-5 col-12'>
                <ul class='social'>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-twitter-original'
                      ></i></a>
                  </li>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-linkedin-original'
                      ></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class='col-lg-4 col-md-6 col-12 custom'>

        <div
          class='single-team wow fadeInUp'
          data-wow-delay='.6s'
          style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;'
        >
          <div class='image'>
            <img
              alt='#'
              data-pagespeed-url-hash='476796803'
              src='public/images/meocute.png'
              onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);'
            />
          </div>
          <div class='content'>
            <div class='row align-items-center'>
              <div class='col-lg-7 col-12'>
                <div class='text'>
                  <h3><a href='javascript:void(0)'>Than Van Long</a></h3>
                  <h5>D19DCPT151</h5>
                </div>
              </div>
              <div class='col-lg-5 col-12'>
                <ul class='social'>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-twitter-original'
                      ></i></a>
                  </li>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-linkedin-original'
                      ></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class='col-lg-4 col-md-6 col-12 custom'>

        <div
          class='single-team wow fadeInUp'
          data-wow-delay='.6s'
          style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;'
        >
          <div class='image'>
            <img
              alt='#'
              data-pagespeed-url-hash='476796803'
              src='public/images/meocute.png'
              onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);'
            />
          </div>
          <div class='content'>
            <div class='row align-items-center'>
              <div class='col-lg-7 col-12'>
                <div class='text'>
                  <h3><a href='javascript:void(0)'>Nguyen Quoc Phong</a></h3>
                  <h5>D19DCPT176</h5>
                </div>
              </div>
              <div class='col-lg-5 col-12'>
                <ul class='social'>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-twitter-original'
                      ></i></a>
                  </li>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-linkedin-original'
                      ></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class='col-lg-4 col-md-6 col-12 custom'>

        <div
          class='single-team wow fadeInUp'
          data-wow-delay='.6s'
          style='visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;'
        >
          <div class='image'>
            <img
              alt='#'
              data-pagespeed-url-hash='476796803'
              src='public/images/meocute.png'
              onerror='this.onerror=null;pagespeed.lazyLoadImages.loadIfVisibleAndMaybeBeacon(this);'
            />
          </div>
          <div class='content'>
            <div class='row align-items-center'>
              <div class='col-lg-7 col-12'>
                <div class='text'>
                  <h3><a href='javascript:void(0)'>Nguyen Thi Huyen</a></h3>
                  <h5>D19DCPT111</h5>
                </div>
              </div>
              <div class='col-lg-5 col-12'>
                <ul class='social'>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-twitter-original'
                      ></i></a>
                  </li>
                  <li><a href='javascript:void(0)'><i
                        class='lni lni-linkedin-original'
                      ></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</section>

<!-- Start Call To Action Area -->
<section class='section call-action'>
  <div class='container'>
    <div class='row'>
      <div class='col-lg-8 offset-lg-2 col-md-12 col-12'>
        <div class='cta-content'>
          <h2 class='wow fadeInUp' data-wow-delay='.2s'>Do you want to try our
            products?
            {{! <br />Version of Appvilla }}
          </h2>
          <div class='button wow fadeInUp' data-wow-delay='.6s'>
            <a href='javascript:void(0)' class='btn'>Downloads Now 🐧</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Call To Action Area -->

<!-- Start Footer Area -->
<footer class='footer'>
  <!-- Start Footer Top -->
  <div class='footer-top'>
    <div class='container'>
      <div class='row'>
        <div class='col-lg-4 col-md-4 col-12'>
          <!-- Single Widget -->
          <div class='single-footer f-about'>
            <div class='logo'>
              <a href='index.html'>
                <img src='public/images/logo/white-logo.svg' alt='#' />
              </a>
            </div>
            <p>A product from group 11.</p>
            <ul class='social'>
              <li><a href='javascript:void(0)'><i
                    class='lni lni-facebook-filled'
                  ></i></a></li>
              <li><a href='javascript:void(0)'><i
                    class='lni lni-twitter-original'
                  ></i></a></li>
              <li><a href='javascript:void(0)'><i
                    class='lni lni-instagram'
                  ></i></a></li>
              <li><a href='javascript:void(0)'><i
                    class='lni lni-linkedin-original'
                  ></i></a></li>
              <li><a href='javascript:void(0)'><i
                    class='lni lni-youtube'
                  ></i></a></li>
              <li><a href='javascript:void(0)'><i
                    class='lni lni-pinterest'
                  ></i></a></li>
            </ul>
            <p class='copyright-text'>Designed and Developed by
              <a
                href='https://github.com/minhduc2001'
                rel='nofollow'
                target='_blank'
              >Minh Duc</a>
            </p>
          </div>
          <!-- End Single Widget -->
        </div>
        <div class='col-lg-8 col-md-8 col-12'>
          <div class='row'>
            <div class='col-lg-3 col-md-6 col-12'>
              <!-- Single Widget -->
              <div class='single-footer f-link'>
                <h3>Solutions</h3>
                <ul>
                  {{! <li><a href='javascript:void(0)'>Marketing</a></li>
                  <li><a href='javascript:void(0)'>Analytics</a></li>
                  <li><a href='javascript:void(0)'>Commerce</a></li>
                  <li><a href='javascript:void(0)'>Insights</a></li>
                  <li><a href='javascript:void(0)'>Promotion</a></li> }}
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class='col-lg-3 col-md-6 col-12'>
              <!-- Single Widget -->
              <div class='single-footer f-link'>
                <h3>Support</h3>
                <ul>
                  {{! <li><a href='javascript:void(0)'>Pricing</a></li>
                  <li><a href='javascript:void(0)'>Documentation</a></li>
                  <li><a href='javascript:void(0)'>Guides</a></li>
                  <li><a href='javascript:void(0)'>API Status</a></li>
                  <li><a href='javascript:void(0)'>Live Support</a></li> }}
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class='col-lg-3 col-md-6 col-12'>
              <!-- Single Widget -->
              <div class='single-footer f-link'>
                <h3>Company</h3>
                <ul>
                  {{! <li><a href='javascript:void(0)'>About Us</a></li>
                  <li><a href='javascript:void(0)'>Our Blog</a></li>
                  <li><a href='javascript:void(0)'>Jobs</a></li>
                  <li><a href='javascript:void(0)'>Press</a></li>
                  <li><a href='javascript:void(0)'>Contact Us</a></li> }}
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
            <div class='col-lg-3 col-md-6 col-12'>
              <!-- Single Widget -->
              <div class='single-footer f-link'>
                <h3>Legal</h3>
                <ul>
                  {{! <li><a href='javascript:void(0)'>Terms & Conditions</a></li>
                  <li><a href='javascript:void(0)'>Privacy Policy</a></li>
                  <li><a href='javascript:void(0)'>Catering Services</a></li>
                  <li><a href='javascript:void(0)'>Customer Relations</a></li>
                  <li><a href='javascript:void(0)'>Innovation</a></li> }}
                </ul>
              </div>
              <!-- End Single Widget -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/ End Footer Top -->
</footer>
<!--/ End Footer Area -->

<!-- ========================= scroll-top ========================= -->
<a href='#' class='scroll-top'>
  <i class='lni lni-chevron-up'></i>
</a>

<!-- ========================= JS here ========================= -->
<script src='public/js/bootstrap.min.js'></script>
<script src='public/js/wow.min.js'></script>
<script src='public/js/tiny-slider.js'></script>
<script src='public/js/glightbox.min.js'></script>
<script src='public/js/count-up.min.js'></script>
<script src='public/js/main.js'></script>
<script type='text/javascript'>

  //====== counter up var cu = new counterUp({ start: 0, duration: 2000,
  //intvalues: true, interval: 100, append: " ", }); cu.start();
</script>